.git
.gitignore
.env
**/.env
**/*.md
docker/php/vendor
docker/php/storage/logs
docker/php/storage/uploads
docker/php/storage/exports
docker/php/database/seeds/usuarios_predeterminados.txt
**/*.log
**/.DS_Store
Thumbs.db
